body {
    font-size: 10px;
    background:url(./1.jpeg) no-repeat;
    background-size: 100%;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: courier;
  }
  
  .display{
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 2rem;
    background: transparent;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
  }
  
  #drum-machine{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
    background: transparent;
    flex-direction: column;
  }
  
  .wrapper{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
  }
  
  .drum-pad{
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    background: white;
    font-size: 3.5rem;
    color: black;
  }
  
  .drum-pad:hover{
    background: pink;
    color: black
  }  